@import './common';
@import './example';

.search-form{
    background-color: #D1C68E;
    margin: 0 auto;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 18px;
    background-color: #A2BFDE;
}
.photo-card {
    font-size: 12px;
}

.info {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

b{
    display:block;
}
span{
    text-align: center;
}