@import './common';
@import './example';

.search-form{
    background-color: #e8caa0;
    text-align: center;
    height: 60px;
    padding: 15px;
}
input{
    height: 30px;
    width: 280px;
    border: none;
    border-radius: 15px;
    padding-left: 15px;
}
button{
    width: 70px;
    height: 30px;
    border: none;
    background: #2f2f2f;
    color: #fff;
    font-size: 12px;
    border-radius: 40px;
    text-align: center;
    cursor: pointer;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 18px;
    background-color: #b4b9be;
}
.photo-card {
    font-size: 12px;
    background-color: ghostwhite;
    border-radius: 2px;
}

.info {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.info-item{
    display: flex;
    align-items: center;
    flex-direction: column;
}